#portfolio-heading {
    padding-top: 9rem;
}

.static-image {
    display: block;
    z-index: 1;
}

.gif-image {
    display: none;
}

.gif {
    position: absolute;
    top: 0;
    left: 0;
}

.img-contain {
    width: 100%;
    height: 100%;
}
  
.img-container:hover .static-image {
    display: none;
}
  
.img-container:hover .gif-image {
    display: block;
}  